body {
  margin: 0;
  text-align:center;
  font-family:Calibri;
}

.page-title {
  font-size:75px;
}

img {
  height:300px;
  margin:auto;
  border-width:3px;
  border-style:solid;
}

.have-read {
  display: inline-grid;
  padding:10px;
  border-style:solid;
  margin:10px;
  width:250px;
  border-width:3px;
}

.haven\'t-read {
  display: inline-grid;
  padding:10px;
  border-style:solid;
  margin:10px;
  width:250px;
  border-width:3px;
  background-color: pink;
}

.nav-link {
  padding:10px 20px;
  text-decoration:none;
  margin:10px;
  font-size:18px;
  color:black;
}

.navbar {
  display:block;
  margin:30px;
}

.form {
  display:flex;
  flex-direction:column;
  row-gap:10px;
}

.form-container {
  width:400px;
  height:auto;
  margin:50px auto;
  row-gap:10px;
  border: 3px solid black;
  padding:15px;
}

.genre-rating-container {
  display:flex;
  gap:7px;
  margin:auto;
}

.radio-group {
  display:flex;
  gap:5px;
  margin:auto;
}

.submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor:pointer; 
  width:100%;
  margin:auto;
  text-align:center;
  font-size:16px;
  transition-duration: 0.5s;
}

.submit:hover {
  background-color: #0056b3;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor:pointer; 
  width:auto;
  margin:5px 5px;
  display:inline-grid;
  text-align:center;
  font-size:16px;
}

.text-input {
  padding:10px;
  margin:5px 0px;
  font-size:16px;
  border-radius: 4px;
}

.label {
  font-size: 18px;
}

.filter {
  display:flex;
  justify-content:center;
  column-gap: 10px;
}

.select-menu {
  border: none;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 16px;
}

.details-edit-button {
  color:white;
  text-decoration:none;
}

.remove {
  background-color:rgb(180, 61, 81);
}

.details-container {
  display:flex;
  justify-content:center;
  gap:15px;
  padding:20px;
}

.details-img {
  text-align:right;
  object-fit: cover;
}

.book-details {
  text-align:left;
  margin:0;
  padding: 0px 15px;
}

.details-img img {
  height:500px;
}

#edit {
  margin:auto;
}

#submit-message {
  color:red;
}