body {
  margin: 0;
  text-align:center;

}

.book-item img {
  height: 300px;
  margin:auto;
  border-width:5px;
  border-style:solid;
}

.book-item {
  display: inline-grid;
  padding:10px;
  border-style:solid;
  margin:10px;
  width:250px;
  border-width:1px;
}

.nav-link {
  padding:10px;
}

.navbar {
  display:block;
  padding:10px;
}